<header>
  <div class="container">

    <div class="row">
      <%= image_tag("Logo_vertical_blanc.png", class: "logo-header", alt: "Logo Jitips") %>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2>Dev Fullstack: Ruby + JS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h3>Jitips founding team is looking for its CTO to take the project technical lead !</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2>What is Jitips ?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h3>
          Briefly, Jitips gives to e-customers, the opportunity to recommend a product to its relatives, and buy it together at a cheaper price !
          <br>
          Regarding the e-merchant, It is a user acquisition tool based on product prescription between users.
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2>Tech Challenge</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h3>
          The pilot e-merchant partner is ready to test Jitips project, and our MVP integration on its website is the next step !
          <br>
          We think of a JS extension as a test version, before scaling it through an API process !
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2>Development Step</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h3>
          - Station F Incubation on-track through EDHEC
          <br>
          - Pilot e-merchant partner signed
          <br>
          - Growing Jitps community
        </h3>
      </div>
    </div>

    <div class="row title-strong-red">
      <div class="col-md-offset-2 col-md-8">
        <h2>Jitips Team</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h3>
          2 founders: Augustin and Louis.
          <br>
          Both entrepreneurship/business oriented, coming from EDHEC/Dauphine/IESEG as education, and Retail + Start-up Studio as professional background.
          <br>
          We both made Le Wagon Bootcamp in 2016.
          <br>
          Augustin is crazy about backpack travels, water sports and coffee !
          <br>
          Louis is keen on Tennis, nutrition and crypto-currencies !
          <br>
          <hr width="25%" color="white">
          If you feel enthusiast about Jitips and its team, get in touch with us
        </h3>
      </div>
    </div>

    <div class="row contact">
      <div class="contact-email">team@jitips.com</div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-3 linkedin-profil">
        <a class="" target="_blank" href="https://www.linkedin.com/in/augustin-mulliez-559ab25a/">
          <%= image_tag("avatar_augustin.png")%>
        </a>
      </div>
      <div class="col-md-3 linkedin-profil">
        <a class="" target="_blank" href="https://www.linkedin.com/in/louisdublancq/?ppe=1">
          <%= image_tag("avatar_louis.jpg")%>
        </a>
      </div>
    </div>

  </div>
</header>
