<header>
  <div class="container">
      <div class="row">
        <%= image_tag("Logo_vertical_blanc.png", class: "logo-header", alt: "Logo Jitips") %>
      </div>
    <div class="row">
      <h1>Dev Fullstack: Ruby + JS</h1>
      <h2>
        <strong>Hi there !</strong>
        <br>
        <br>
        Jitips founding team is looking for its tech founder to join the adventure
        <br>
        <br>
        <strong>What is Jitips ?</strong>
        <br>
        <br>
        Briefly, Jitips is a user acquisition tool based on product prescription between users. It gives the opportunity to e-customers, to recommend a product to its community, and buy it together at a cheaper price !
        <br>
        <br>
        <strong>Tech Challenge</strong>
        <br>
        <br>
        The pilot e-merchant partner is almost ready to test Jitips project, and our MVP integration on its website is the next step ! We think of a JS extension as a test version, before scaling it through an API process !
        <br>
        <br>
        <strong>Development Step</strong>
        <br>
        <br>
        - Station F Incubation on-track through EDHEC
        - Advanced discussions with a pilot e-merchant partner for Jitips MVP
        - “Jitps Family” community keeps growing
        <br>
        <br>
        <strong>Jitips Team</strong>
        <br>
        <br>
        2 founders: Augustin and I. Both entrepreneurship/business oriented, coming from EDHEC/Dauphine/IESEG as education, and Retail and Start-up Studio as professional background. We both made Le Wagon Bootcamp in 2016 :slightly_smiling_face:
        Augustin is crazy about backpack travels, water sports and coffee !
        I’m keen on Tennis, nutrition and crypto-currencies !
        <br>
        <br>
        If you feel enthusiast about Jitips and its team, get in touch with us
      </h2>
    </div>
    <div class="row contact">
      <div class="contact-email">team@jitips.com</div>
    </div>
  </div>
</header>
