<!-- Header -->
<header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="">
            <h4>blabla</h4>
          </div>
          <div class="">
            <p>blablabla</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header-logo">
            <h4 class="">bloblo</h4>
          </div>
          <div class="">
            <p>blobloblo</p>
          </div>
        </div>
      </div>
    </div>
</header>
