<!-- Header -->
<header>
    <div class="container">
      <div class="row">
        <%= image_tag("Logo_vertical_blanc.png", class: "logo-header", alt: "Logo Jitips") %>
        <h1>Recommendez un produit à votre communauté pour l'acheter ensemble à un meilleur prix.</h1>
        <h2>Vous voulez en savoir plus ? Contactez nous.</h2>
        <div class="contact">team@jitips.com</div>
      </div>
    </div>
</header>
