<!-- Header -->
<header>
    <div class="container">
      <div class="row">
        <%= image_tag("Logo_vertical_blanc.png", class: "logo-header", alt: "Logo Jitips") %>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <h1>Recommandez un produit à vos proches, et achetez-le avec eux à un meilleur prix</h1>
          <h2>Vous voulez en savoir plus ?</h2>
        </div>
      </div>
      <div class="row contact">
        <div class="col-md-6">
          <h3>Envoyez nous un email</h3>
          <div class="contact-email">team@jitips.com</div>
        </div>
        <div class="col-md-6">
          <h3>Inscrivez-vous à notre Newsletter</h3>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form action="//jitips.us16.list-manage.com/subscribe/post?u=4fc41046d70b4d53b368be66f&amp;id=a6035b765a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4fc41046d70b4d53b368be66f_a6035b765a" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Go !" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
      <dic class="row">
        <div class="col-md-offset-2 col-md-8 shared-buttons">
          <a href="https://www.facebook.com/jitips.here/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook Jitips">
          </a>
          <a href="https://www.linkedin.com/company/18157527/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn Jitips">
          </a>
          <a href="https://twitter.com/Jitips?lang=fr" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter Jitips">
          </a>
          <a href="https://www.pinterest.fr/jitipshere/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest Jitips">
          </a>
        </div>
      </dic>
    </div>
</header>
