<!DOCTYPE html>
<html>
<head>
  <title>Jitips</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Jitips</h1>

<%= yield %>

<p>A very simple footer</p>

</body>
</html>
